

.billing__form .form__group input{
    border: 1px solid #757473;
}

.checkout__cart{
    padding: 20px;
    background: #EBE3D5;
    color: #2e2b27;
    border-radius: 5px;
}

.checkout__cart h6, h4{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkout__cart h6{
    margin-bottom: 20px;
}

.checkout__cart h4{
    border-top: 1px solid rgba(0, 0, 0, 0.551);
    padding-top: 20px;
}